<template name="base">
    <div class="bicisegura">
        {{> header }}

        {{> yield }}

        {{> footer }}
    </div>
</template>

<template name="header">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <div class="rest">
                <a id="logo-container" href="#" class="brand-logo grey-text text-darken-2">BiciSegura</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#"><i class="mdi-action-search grey-text text-darken-2 toggle-search-box"></i></a></li>
                    <li><a href="/admin" class="grey-text text-darken-2">Iniciar sesión</a></li>
                </ul>
            </div>

            <form class="search-box" style="display: none">
                <div class="input-field">
                    <!--<input id="search" type="search" required placeholder="Buscar número de serie">-->
                    {{> esInput index="items" type="search" placeholder="Buscar número de serie..." }}
                    <label for="search"><i class="mdi-action-search"></i></label>
                    <i class="mdi-navigation-close"></i>
                </div>
            </form>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="/admin">Iniciar sesión</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>
</template>

<template name="footer">
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Bicisegura</h5>
                    <p class="grey-text text-lighten-4">Somos un grupo de estudiantes universitarios desarrollando una idea para hacer del mundo un mejor lugar.</p>


                </div>
                <!--<div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Creado por <a class="brown-text text-lighten-3" href="mailto:joaquin.diaz@ies.cl">Joaquín Díaz</a>
            </div>
        </div>
    </footer>
</template>	