<template name="register">
    <div class="bicisegura register teal darken-2 valign-wrapper">
        <div class="valign register-box">
            <div class="card-panel white">
                <h5>Registrarme</h5>
                <form class="register-form">
                    <div class="input-field">
                        <i class="mdi-communication-email prefix"></i>
                        <label for="at-field-email" class="icon_prefix">
                            Email
                        </label>
                        <input class="validate" type="email" id="at-field-email" name="at-field-email" autocapitalize="none" autocorrect="off">
                    </div>

                    <div class="input-field">
                        <i class="mdi-communication-vpn-key prefix"></i>
                        <label for="at-field-password" class="icon_prefix">
                            Contraseña
                        </label>
                        <input class="validate" type="password" id="at-field-password" name="at-field-password" autocapitalize="none" autocorrect="off">
                    </div>
                    <br>
                    <button class="btn">
                        Registrarme
                    </button>
                    <br>
                    <span class="smaller">Al registrarse, está aceptando los Terminos de Servicio.</span>
                </form>
            </div>
        </div>
    </div>
</template>